@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

* {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-image: linear-gradient(to bottom right, #BBDEFB, #18FFFF);
    height: 100vh;
}

ul {
    list-style: none;
}

button {
    margin: 10px;
}

#body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 275px;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    overflow: hidden;
    background: #fff;
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 20px 36px;
}

#header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

#middle {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;   
}

h1, h3 {
    font-size: 1.2rem;
    margin-bottom: 4px;
}

.list {
    list-style: none;
    margin-top: 24px;
  }
  .list li {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  
  }